%h1
  ='Сейчас я буду  '
  = link_to 'парсить', parse_path, :remote => true
  = 'всеееее сайты'

%p
  = link_to 'цикломхуиклом', circle_parse_path
  %br
  = link_to 'football', football_path, :remote => true